  <nav class="nav-bg d-flex align-items-center">
    <%= link_to group_entities_path do %>
    <em class="bi bi-arrow-left-short icon text-white"></em>
    <% end %>
    <p class="ms-auto me-3"><strong>DETAILS</strong></p>
  </nav>
<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @entity %>

<div>
  <div class="d-flex justify-content-between mt-4">

  <%= link_to "Edit this entity", edit_group_entity_path(@entity), class:'btn btn-primary' %>
  <%= button_to "Destroy this entity", group_entity_path, method: :delete, class:'btn btn-danger' %>

  </div>

</div>
</div>
