  <nav class="nav-bg d-flex align-items-center">
    <%= link_to groups_path do %>
    <em class="bi bi-arrow-left-short icon text-white"></em>
    <% end %>
    <p class="ms-auto me-3"><strong>DETAILS</strong></p>
  </nav>
<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <div class="d-flex justify-content-between">
  <%= link_to "Edit this group", edit_group_path(@group), class:'btn btn-primary mt-4' %> 
  <%= button_to "Delete this group", @group, method: :delete, class:'btn btn-danger mt-4' %>
</div>
<%= link_to "See transactions", group_entities_path(@group.id), class:'btn btn-primary mt-4' %>
</div>
</div>
